#!/usr/bin/make -f

export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/debian/cargo

%:
	dh $@

override_dh_auto_build:
	cd rust && cargo build --release

override_dh_auto_install:
	install -Dm755 rust/target/release/bbcpr debian/bbcpr/usr/bin/bbcpr

override_dh_auto_test:
	cd rust && cargo test --release

override_dh_auto_clean:
	cd rust && cargo clean
	rm -rf $(CARGO_HOME)